* {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
}

nav {
  height: 5vh;
  padding-top: 2.5vh;
  padding-left: 1vw;
  padding-right: 1vw;

  display: flex;
  justify-content: space-between;

  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

/* --- Dropdown --- */

.dropbtn {
  color: black;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: darkslategrey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* --- General --- */

div.page {
  padding: 25px;
}

.centered {
  display: flex;
  justify-content: center;
}

.header {
  margin-bottom: 10px;
}

.subtitle {
  color: darkgrey;
}

div.spacer {
  height: 5vh;
}

/* --- Grid --- */

.grid-container {
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 15px;
}

.grid-container > a {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-decoration: none;
  padding: 40px 0;
  font-size: 30px;
  border-radius: 15px;
}

/* --- Footer ---*/

footer {
  position: fixed;
  bottom: 0;

  width: 100vw;
  height: 5vh;
  padding-top: 2.5vh;
  padding-left: 1vw;
  padding-right: 1vw;

  display: flex;
  justify-content: space-around;

  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

footer a {
  color: darkslategrey;
  text-decoration: none;
}
