.item {
    padding: 15px; 
    border: 1px solid #ccc;
}

.item a:hover {
    text-decoration: none;
}

.country-count {
    margin-left: 70px;
    color: black;
    font-size: xx-large;
}

.country-count:hover {
    text-decoration: none;
    color: black;
}

.country-name {
    font-weight: bold; 
    padding-top: 10px;
}